<div class="m-auto text-left">
  <%= render 'components/section_heading', text: @breadcrumbs, back_path: home_index_path %>
  <div class="flex flex-wrap items-center justify-start mt-4 p-2 pl-4">
    <%= render "components/big_menu_button",
      link_path: find_by_notes_chords_path,
      image_path: 'glyphicons-basic-422-book-library.svg',
      bg_class: 'bg-gradient-to-br from-pink-400 to-cyan-400',
      text: 'Chord Finder' %>
    <%= render "components/big_menu_button",
      link_path: find_by_root_note_scales_path,
      image_path: 'glyphicons-basic-73-bookmark.svg',
      bg_class: 'bg-gradient-to-br from-purple-400 to-yellow-400',
      text: 'Scale Viewer' %>
  </div>
</div>
