<div class="flex">
  <% if local_assigns[:back_path] %>
    <%= link_to local_assigns[:back_path], class: "text-lg text-violet-400 uppercase" do %>
      <div class="border-2 rounded-md border-violet-400 p-2 pl-4 w-12 float-left mr-2">
          <
      </div>
    <% end %>
  <% end %>
  <div class="border-2 rounded-md border-violet-400 p-2 pl-4 w-full">
    <h2 class="text-lg text-violet-400 uppercase"><%= local_assigns[:text].html_safe %></h2>
  </div>
</div>

