<div class="flex">
  <% if local_assigns[:back_path] %>
    <%= link_to local_assigns[:back_path], name: 'Go Back', class: "text-lg text-violet-400 uppercase" do %>
      <div class="border-2 rounded-md border-violet-400 p-2 pl-4 w-12 float-left mr-2">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </div>
    <% end %>
  <% end %>
  <div class="border-2 rounded-md border-violet-400 p-2 pl-4 w-full">
    <h1 class="text-lg text-violet-400 font-bold uppercase"><%= local_assigns[:text].html_safe %></h1>
  </div>
</div>

