<div class="m-auto text-left">
  <%= render 'components/section_heading', text: @breadcrumbs, back_path: chords_path %>
  <div class="flex flex-wrap items-center justify-start p-2 pl-4 pb-6">
  </div>
</div>

