<div class="m-auto">
  <div class="m-auto" data-controller="piano-chord-search">
    <div>
      <%= form_with(url: search_chords_path) do |form| %>
        <%= form.text_field :query, hidden: true %>
      <% end %>
    </div>

    <%= render "shared/piano_component" %>

  </div>

  <%= render "chord_summary", chord: @chord, error: @error %>
</div>
