<div class="m-auto">
  <div class="m-auto" data-controller="piano-chord-search">
    <div>
      <%= form_with(url: search_chords_path) do |form| %>
        <%= form.text_field :query, hidden: true %>
      <% end %>
    </div>

    <ul data-action="click->piano-chord-search#key" class="piano">
      <li data-key-name="F3"
          class="key white f"><span>F</span></li>
      <li data-key-name="Gb3"
          class="key black fs"><span>F#</span></li>
      <li data-key-name="G3"
          class="key white g"><span>G</span></li>
      <li data-key-name="Ab3"
          class="key black gs"><span>G#</span></li>
      <li data-key-name="A3"
          class="key white a"><span>A</span></li>
      <li data-key-name="Bb3"
          class="key black as"><span>A#</span></li>
      <li data-key-name="B3"
          class="key white b"><span>B</span></li>
      <li data-key-name="C4"
          class="key white c"><span>C</span></li>
      <li data-key-name="Db4"
          class="key black cs"><span>C#</span></li>
      <li data-key-name="D4"
          class="key white d"><span>D</span></li>
      <li data-key-name="Eb4"
          class="key black ds"><span>D#</span></li>
      <li data-key-name="E4"
          class="key white e"><span>E</span></li>
      <li data-key-name="F4"
          class="key white f"><span>F</span></li>
      <li data-key-name="Gb4"
          class="key black fs"><span>F#</span></li>
      <li data-key-name="G4"
          class="key white g"><span>G</span></li>
      <li data-key-name="Ab4"
          class="key black gs"><span>G#</span></li>
      <li data-key-name="A4"
          class="key white a"><span>A</span></li>
      <li data-key-name="Bb4"
          class="key black as"><span>A#</span></li>
      <li data-key-name="B4"
          class="key white b"><span>B</span></li>
      <li data-key-name="C5"
          class="key white c"><span>C</span></li>
      <li data-key-name="Db5"
          class="key black cs"><span>C#</span></li>
      <li data-key-name="D5"
          class="key white d"><span>D</span></li>
      <li data-key-name="Eb5"
          class="key black ds"><span>D#</span></li>
      <li data-key-name="E5"
          class="key white e"><span>E</span></li>
    </ul>
  </div>

  <%= render "chord_summary", chord: @chord, error: @error %>
</div>
