
<div class="m-auto">
  <div class="m-auto" data-controller="piano-search">
    <div>
      <%= form_with(url: search_chords_path) do |form| %>
        <%= form.text_field :query, hidden: true %>
      <% end %>
    </div>

    <ul data-action="click->piano-search#key" class="piano">
      <li data-key-name="F" class="key white f"><span>F</span></li>
      <li data-key-name="F#" class="key black fs"><span>F#</span></li>
      <li data-key-name="G" class="key white g"><span>G</span></li>
      <li data-key-name="G#" class="key black gs"><span>G#</span></li>
      <li data-key-name="A" class="key white a"><span>A</span></li>
      <li data-key-name="A#" class="key black as"><span>A#</span></li>
      <li data-key-name="B" class="key white b"><span>B</span></li>
      <li data-key-name="C" class="key white c"><span>C</span></li>
      <li data-key-name="C#" class="key black cs"><span>C#</span></li>
      <li data-key-name="D" class="key white d"><span>D</span></li>
      <li data-key-name="D#" class="key black ds"><span>D#</span></li>
      <li data-key-name="E" class="key white e"><span>E</span></li>
      <li data-key-name="F" class="key white f"><span>F</span></li>
      <li data-key-name="F#" class="key black fs"><span>F#</span></li>
      <li data-key-name="G" class="key white g"><span>G</span></li>
      <li data-key-name="G#" class="key black gs"><span>G#</span></li>
      <li data-key-name="A" class="key white a"><span>A</span></li>
      <li data-key-name="A#" class="key black as"><span>A#</span></li>
      <li data-key-name="B" class="key white b"><span>B</span></li>
      <li data-key-name="C" class="key white c"><span>C</span></li>
      <li data-key-name="C#" class="key black cs"><span>C#</span></li>
      <li data-key-name="D" class="key white d"><span>D</span></li>
      <li data-key-name="D#" class="key black ds"><span>D#</span></li>
      <li data-key-name="E" class="key white e"><span>E</span></li>
    </ul>
  </div>

  <%= render "chord_summary", chord: @chord, error: @error %>
</div>
