<div class="m-auto text-left">
  <div class="bg-slate-600 text-slate-300 max-w-5xl">
    <div class="bg-slate-500 w-full">
      <h2 class="mx-4">SHORTCUTS</h2>
    </div>
    <div class="flex flex-wrap items-center justify-center mt-4 p-2 pb-6">
      <div class="m-4 text-center bg-slate-400 p-12">
        <%= image_tag 'glyphicons-basic-422-book-library.svg', class: 'h-24 m-auto' %>
        <span class="uppercase text-black text-lg">Explore</span>
      </div>
      <div class="m-4 text-center bg-slate-400 p-12">
        <%= image_tag 'glyphicons-basic-73-bookmark.svg', class: 'h-24 m-auto' %>
        <span class="uppercase text-black text-lg">Library</span>
      </div>
      <div class="m-4 text-center bg-slate-400 p-12">
        <%= image_tag 'glyphicons-basic-5-settings.svg', class: 'h-24 m-auto' %>
        <span class="uppercase text-black text-lg">Tools</span>
      </div>
      <div class="m-4 text-center bg-slate-400 p-12">
        <%= image_tag 'glyphicons-basic-137-cogwheel.svg', class: 'h-24 m-auto' %>
        <span class="uppercase text-black text-lg">Settings</span>
      </div>
    </div>
  </div>
</div>
