<div class="m-auto text-left">
  <%= render 'components/section_heading', text: @breadcrumbs, back_path: home_index_path %>
  <div class="flex flex-wrap items-center justify-start mt-4 p-2 pl-4">
    <%= render "components/big_menu_button",
      link_path: chords_path,
      image_path: 'glyphicons-basic-422-book-library.svg',
      bg_class: 'bg-gradient-to-br from-green-400 to-blue-400',
      text: 'Chords' %>

    <%= render "components/big_menu_button",
      link_path: scales_path,
      image_path: 'glyphicons-basic-73-bookmark.svg',
      bg_class: 'bg-gradient-to-br from-pink-400 to-cyan-400',
      text: 'Scales' %>

    <%= render "components/big_menu_button",
      link_path: nil,
      image_path: 'glyphicons-basic-73-bookmark.svg',
      bg_class: 'bg-gradient-to-br from-purple-400 to-yellow-400',
      text: 'Notes' %>
  </div>
</div>
